<div class="hidden relative z-10 dialog" role="dialog" aria-modal="true" id="dialog">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 hidden bg-gray-500 bg-opacity-75 transition-opacity md:block"></div>

  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-stretch justify-center text-center md:items-center md:px-2 lg:px-4">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
          To: "opacity-100 translate-y-0 md:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 md:scale-100"
          To: "opacity-0 translate-y-4 md:translate-y-0 md:scale-95"
      -->
      <div class="flex w-full transform text-left text-base transition md:my-8 md:max-w-2xl md:px-4 lg:max-w-4xl">
        <div class="relative flex w-full items-center overflow-hidden bg-white px-4 pb-8 pt-14 shadow-2xl sm:px-6 sm:pt-8 md:p-6 lg:p-8">
          <button type="button" class="absolute right-4 top-4 text-gray-400 hover:text-gray-500 sm:right-6 sm:top-8 md:right-6 md:top-6 lg:right-8 lg:top-8 z-10" onclick="closeButton('dialog')">
            <span class="sr-only">Close</span>
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>

          <div class="grid w-full grid-cols-1 items-start gap-x-6 gap-y-8 sm:grid-cols-12 lg:gap-x-8">
            <div class="aspect-h-3 aspect-w-2 overflow-hidden rounded-lg bg-gray-100 sm:col-span-4 lg:col-span-5">
              <img src="https://source.unsplash.com/random/?Products/" alt="Two each of gray, white, and black shirts arranged on table." class="object-cover object-center">
            </div>
            <div class="sm:col-span-8 lg:col-span-7" style="position: relative; height:100%">
              <h2 class="text-2xl font-bold text-gray-900 sm:pr-12" id="dialog_name">{{product.name}}</h2>

              <section aria-labelledby="information-heading" class="mt-2">
                <h3 id="information-heading" class="sr-only">Product information</h3>
                <p class="mt-1 truncate text-xs leading-5 text-gray-500 mb-2">{{this.type}} / {{this.category}}</p>
                <p class="text-2xl text-gray-900 mb-2" id="price">₹ {{product.price}}</p>
                <p class="text-sm text-gray-900" id="description">{{product.price}}</p>
              </section>

              <section aria-labelledby="options-heading" class="absolute bottom-0 w-full">
                <h3 id="options-heading" class="sr-only">Product options</h3>
                <p class="text-base text-gray-900" id="description">Do you want to delete this product?</p>
                <input type="hidden" id="_id">
                <div class="flex items-center justify-center gap-x-6">
                <button type="submit" onclick="deleteProduct()" class="mt-6 flex w-4/5 items-center justify-center rounded-md border border-transparent bg-indigo-600 px-8 py-3 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Delete</button>
                <button type="button" class="mt-6 flex w-4/5 items-center justify-center rounded-md border border-transparent bg-gray-200 font-semibold px-8 py-3 text-base font-medium leading-6 text-gray-900 hover:bg-gray-300" onclick="closeButton('dialog')">Cancel</button>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
