<div class="min-h-full">
  {{> admin-header}}
  <header class="bg-white shadow">
    <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      {{!-- <a href="#" class="text-indigo-600 rounded-md px-3 py-2 text-sm font-medium" aria-current="page">Product List</a> --}}
      {{!-- <a href="/admin/products/new" class="text-gray-300 hover:text-slate-950 hover:font-semibold rounded-md px-3 py-2 text-base font-semibold font-sans tracking-wide" onclick="$('#overlay').show();" >Add Product</a> --}}
      <a href="#" class="text-slate-950 rounded-md px-3 py-2 text-base font-semibold font-sans tracking-wide">All Orders</a>
    </div>
  </header>
  {{> orders-popup}}
  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
        <ul role="list" class="divide-y divide-gray-100">
        {{#each orders}}
            <li class="flex justify-between gap-x-6 py-5 px-5 hover:bg-gray-50 cursor-pointer" onclick="closeButton('orders')">
              <div class="flex min-w-0 gap-x-4">
                {{!-- <img class="h-12 w-12 flex-none rounded-full bg-gray-50 object-cover object-center" src="https://source.unsplash.com/random/?Avatar/" alt=""> --}}
                <div class="min-w-0 flex-auto">
                  <p class="text-sm font-semibold leading-6 text-gray-900">{{this.shippingInfo.address}}</p>
                  <p class="mt-1 truncate text-xs leading-5 text-gray-500">{{this.shippingInfo.address}} {{this.shippingInfo.city}} {{this.shippingInfo.state}} - {{this.shippingInfo.pinCode}}</p>
                </div>
              </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                  <p class="text-sm leading-6 text-gray-900">{{this.shippingInfo.phoneNo}}</p>
                  <div class="mt-1 flex items-center gap-x-1.5">
                    <div class="flex-none rounded-full bg-emerald-500/20 p-1">
                      <div class="h-1.5 w-1.5 rounded-full bg-emerald-500"></div>
                    </div>
                    <p class="text-xs leading-5 text-gray-500">{{this.orderStatus}}</p>
                  </div>
                </div>
            </li>
        {{/each}}
        </ul>
    </div>
  </main>
</div>
